data_nodered/.flows.json.backup
[{"id":"1b584050.d1073","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cb8e1a07.a76b48","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e6cfb3b3.94879","type":"function","z":"1b584050.d1073","name":"crawler_yapo_cl","func":"var Crawler = context.global.crawler;\n\nvar c = new Crawler({\n    maxConnections: 10,\n    rateLimit: 1000,\n    callback: function (error, res, done) {\n        if (error) {\n            // :(\n        } else {\n            var $ = res.$;\n            //analizo la tabla\n            var resultados = []\n            $(\".listing_thumbs\").each(function (a, b) {\n                //tr a tr\n                $(b).find(\"tr\").each(function (k1, tr) {\n                    aviso = {}\n                    //obtengo data\n                    aviso.id = $(tr).attr(\"id\")\n                    aviso.precio = $(tr).find(\".price\").text().replace(/\\s/g, '') //TODO transformar a número\n                    aviso.titulo = $(tr).find(\".title\").text() //TODO reconocer marcas y modelos\n                    aviso.url = $(tr).find(\".redirect-to-url\").attr(\"href\")\n                    console.log(aviso)\n                    resultados.push(aviso)\n                    console.log(\"----------------------------------------\")\n                })\n            })\n        }\n        msg.resultados = resultados;\n        node.send({payload:resultados});\n        \n    }\n});\n\nc.queue({\n    headers: {\n        \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/44.0.2403.89 Safari/537.36\"\n    },\n    uri: 'https://www.yapo.cl/chile/vehiculos?ca=15_s&l=0&st=a'\n});\n\n","outputs":1,"noerr":0,"x":320,"y":60,"wires":[["a85c3ae4.61e008"]]},{"id":"a85c3ae4.61e008","type":"debug","z":"1b584050.d1073","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":60,"wires":[]},{"id":"366e5958.176bf6","type":"inject","z":"1b584050.d1073","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["e6cfb3b3.94879"]]},{"id":"fd6a574f.516968","type":"inject","z":"cb8e1a07.a76b48","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":170,"y":120,"wires":[["86136f4d.71a1a"]]},{"id":"86136f4d.71a1a","type":"function","z":"cb8e1a07.a76b48","name":"getJoke","func":"const getJoke = function (firstname=\"Chuck\", lastname=\"Norris\") {\n    \n    let promise = new Promise((resolve, reject) => {\n        msg.resolve = resolve;\n        msg.reject = reject;\n    });\n    \n    msg.url = `http://api.icndb.com/jokes/random?firstName=${firstname}&lastName=${lastname}`;\n    msg.method = 'GET';\n    \n    node.send(Object.assign({}, msg));\n    \n    return promise;\n};\n\nglobal.set('getJoke', getJoke);","outputs":1,"noerr":0,"x":300,"y":120,"wires":[["990de3e5.ed446"]]},{"id":"990de3e5.ed446","type":"http request","z":"cb8e1a07.a76b48","name":"","method":"use","ret":"obj","url":"","tls":"","x":450,"y":120,"wires":[["d0cf4130.3f5d1","c799375c.c699d8"]]},{"id":"f6e70997.f3b848","type":"function","z":"cb8e1a07.a76b48","name":"getJoke()","func":"const joke = global.get('getJoke')();\n\njoke.then(joke => {\n    node.warn(joke);\n}).catch(error => {\n    node.error(error);\n});","outputs":"0","noerr":0,"x":300,"y":220,"wires":[]},{"id":"a2c8e8dd.1bce58","type":"inject","z":"cb8e1a07.a76b48","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":220,"wires":[["f6e70997.f3b848"]]},{"id":"d0cf4130.3f5d1","type":"function","z":"cb8e1a07.a76b48","name":"resolve","func":"msg.resolve(msg.payload.value.joke);\n\n// reject\n// setTimeout(function () {\n//     msg.reject({message: 'Could not request joke'});\n// }, 2000);","outputs":"0","noerr":0,"x":600,"y":120,"wires":[]},{"id":"150b05f3.cb3b0a","type":"comment","z":"cb8e1a07.a76b48","name":"use above flow","info":"","x":180,"y":180,"wires":[]},{"id":"c799375c.c699d8","type":"debug","z":"cb8e1a07.a76b48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":200,"wires":[]}]