data_nodered/.flows.json.backup
[{"id":"1b584050.d1073","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e0f3fdbf.31d64","type":"remote-server","z":"","name":"elk","host":"http://elk:9200"},{"id":"e6cfb3b3.94879","type":"function","z":"1b584050.d1073","name":"crawler_yapo_cl","func":"var Crawler = context.global.crawler;\n\nvar c = new Crawler({\n    maxConnections: 10,\n    rateLimit: 1000,\n    callback: function (error, res, done) {\n        if (error) {\n            // :(\n        } else {\n            var $ = res.$;\n            //analizo la tabla\n            var resultados = []\n            $(\".listing_thumbs\").each(function (a, b) {\n                //tr a tr\n                $(b).find(\"tr\").each(function (k1, tr) {\n                    aviso = {}\n                    //obtengo data\n                    aviso.id = $(tr).attr(\"id\")\n                    aviso.precio = $(tr).find(\".price\").text().replace(/\\s/g, '') //TODO transformar a número\n                    aviso.titulo = $(tr).find(\".title\").text() //TODO reconocer marcas y modelos\n                    aviso.url = $(tr).find(\".redirect-to-url\").attr(\"href\")\n                    console.log(aviso)\n                    resultados.push(aviso)\n                    console.log(\"----------------------------------------\")\n                })\n            })\n        }\n        msg.resultados = resultados;\n        node.send({avisos:resultados, type_elk: \"yapo_cl\"});\n        \n    }\n});\n\nc.queue({\n    headers: {\n        \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/44.0.2403.89 Safari/537.36\"\n    },\n    uri: 'https://www.yapo.cl/chile/vehiculos?ca=15_s&l=0&st=a'\n});\n\n","outputs":1,"noerr":0,"x":320,"y":60,"wires":[["79e10e1c.19c55"]]},{"id":"366e5958.176bf6","type":"inject","z":"1b584050.d1073","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["e6cfb3b3.94879"]]},{"id":"1069bd2.98e1f43","type":"function","z":"1b584050.d1073","name":"for","func":"if(msg.avisos[msg.count]){\n    msg.payload = msg.avisos[msg.count]\n    return [null, msg]\n}else{\n    return [msg, null]\n}\n","outputs":2,"noerr":0,"x":390,"y":160,"wires":[[],["1e1eed8c.e61e32"]]},{"id":"79e10e1c.19c55","type":"function","z":"1b584050.d1073","name":"init count","func":"msg.count = 0\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":160,"wires":[["1069bd2.98e1f43"]]},{"id":"396134ab.8f2a1c","type":"function","z":"1b584050.d1073","name":"count++","func":"msg.count = msg.count +1 \nreturn msg;","outputs":1,"noerr":0,"x":400,"y":280,"wires":[["1069bd2.98e1f43"]]},{"id":"1e1eed8c.e61e32","type":"function","z":"1b584050.d1073","name":"","func":"\nmsg.documentIndex = \"avisos\"\nmsg.documentType = msg.type_elk\nmsg.documentId = msg.type_elk+\"_\"+msg.payload.id\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":180,"wires":[["396134ab.8f2a1c","1b5fca14.2c7136"]]},{"id":"1b5fca14.2c7136","type":"es-create","z":"1b584050.d1073","name":"","documentIndex":"","documentType":"","server":"e0f3fdbf.31d64","x":730,"y":180,"wires":[[]]}]