data_nodered/flows.json
[{"id":"1b584050.d1073","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e6cfb3b3.94879","type":"function","z":"1b584050.d1073","name":"crawler_yapo_cl","func":"var Crawler = context.global.crawler;\n\nvar c = new Crawler({\n    maxConnections: 10,\n    rateLimit: 1000,\n    callback: function (error, res, done) {\n        if (error) {\n            // :(\n        } else {\n            var $ = res.$;\n            //analizo la tabla\n            var resultados = []\n            $(\".listing_thumbs\").each(function (a, b) {\n                //tr a tr\n                $(b).find(\"tr\").each(function (k1, tr) {\n                    aviso = {}\n                    //obtengo data\n                    aviso.id = $(tr).attr(\"id\")\n                    aviso.precio = $(tr).find(\".price\").text().replace(/\\s/g, '') //TODO transformar a número\n                    aviso.titulo = $(tr).find(\".title\").text() //TODO reconocer marcas y modelos\n                    aviso.url = $(tr).find(\".redirect-to-url\").attr(\"href\")\n                    console.log(aviso)\n                    resultados.push(aviso)\n                    console.log(\"----------------------------------------\")\n                })\n            })\n        }\n        msg.resultados = resultados;\n        node.send({payload:resultados});\n        \n    }\n});\n\nc.queue({\n    headers: {\n        \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/44.0.2403.89 Safari/537.36\"\n    },\n    uri: 'https://www.yapo.cl/chile/vehiculos?ca=15_s&l=0&st=a'\n});\n\n","outputs":1,"noerr":0,"x":320,"y":60,"wires":[["a85c3ae4.61e008"]]},{"id":"a85c3ae4.61e008","type":"debug","z":"1b584050.d1073","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":60,"wires":[]},{"id":"366e5958.176bf6","type":"inject","z":"1b584050.d1073","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["e6cfb3b3.94879"]]}]